* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

:after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.sg-body { margin: 0; }

.sg-clearfix:before, .sg-clearfix:after { content: " "; display: table; }
.sg-clearfix:after { clear: both; }

.sg-header { background-color: #000; }
.sg-header .sg-h1 { margin: 0; font-size: 30px; }
.sg-header .sg-h1 span { font-weight: bold; }
.sg-header .sg-logo { color: #fff; }

.sg-nav { float: left; width: 20%; }
.sg-nav ul { margin: 0; padding: 0; background-color: white; text-transform: capitalize; }
.sg-nav ul ul { padding-left: 10px; margin-bottom: 10px; }
.sg-nav ul li { list-style: none; }
.sg-nav ul li a { display: block; padding: 3px 0; text-decoration: none; color: #000; }
.sg-nav ul li a:hover { text-decoration: underline; }

.sg-main-section { float: right; width: 80%; }

.sg-title { padding-bottom: 5px; border-bottom: 1px solid #dddddd; text-transform: capitalize; }
.sg-title a { color: inherit; }

.sg-anchor { text-decoration: none; }

.sg-container { padding: 20px; }

.sg-h1, .sg-h2, .sg-h3, .sg-h4, .sg-h5, .sg-h6 { color: black; font-weight: 500; font-family: inherit; line-height: 1.1; }

.sg-h1 { font-size: 36px; }

.sg-h2 { font-size: 30px; }

.sg-h3 { font-size: 24px; }

.sg-h4 { font-size: 18px; }

.sg-h5 { font-size: 14px; }

.sg-h6 { font-size: 12px; }

.sg-btn { padding: 5px 10px; background-color: #777777; color: white; text-decoration: none; }

.sg-btn--select { position: absolute; top: 0; right: 0; }

.sg-btn--top { position: fixed; right: 20px; bottom: 20px; opacity: .3; }
.sg-btn--top:hover { opacity: 1; }

.sg-section-group { margin-bottom: 40px; }

.sg-section { margin-bottom: 40px; }

.sg-sub-section { margin-top: 20px; }

.sg-section-title { margin-top: 0; margin-bottom: -10px; }
.sg-section-title .sg-title { padding-top: 10px; padding-bottom: 0; border-bottom: none; }

.sg-section-docs { font-size: 14px; }

.sg-section-source { position: relative; }
.sg-section-source pre { margin: 0; font-size: 13px; }
.sg-section-source code { display: inline-block; padding-right: 50px; white-space: pre-wrap; }
