// BASE STYLES
.sg-body {
    background-color: $body-bg;
}

.sg-title {
    border-bottom: 1px solid $base-border-color;
    padding-bottom: 5px;
    text-transform: capitalize;

    a {
        color: inherit;
    }
}

.sg-anchor {
    text-decoration: none;
}

.sg-container {
    padding: $base-spacing;
}

.sg-section-group {
    margin-bottom: $base-spacing*3;
}

.sg-section {
    margin-bottom: $base-spacing*2;
}

.sg-sub-section {
    margin-top: $base-spacing;
}

.sg-section-title {
    margin-top: 0;
    margin-bottom: -$base-spacing/2;

    .sg-title {
        padding-bottom: 0;
        padding-top: $base-spacing/2;
        border-bottom: none;
    }
}

.sg-section-docs {
    font-size: 14px;
}

.sg-section-example {
}

.sg-section-source {
    position: relative;

    pre {
        margin: 0;
        font-size: 13px;
    }

    code {
        display: inline-block;
        padding-right: 50px;
        white-space: pre-wrap;
    }
}