// BASE STYLES
.sg-body {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
}

.sg-title {
    padding-bottom: 5px;
    border-bottom: 1px solid $base-border-color;
    text-transform: capitalize;

    a {
        color: inherit;
    }
}

.sg-anchor {
    text-decoration: none;
}

.sg-container {
    padding: $base-spacing;
}