// BUTTONS
.sg-btn {
    padding: $btn-padding;
    background-color: $btn-bg-color;
    color: $btn-color;
    text-decoration: none;

    &:hover {
        background-color: $btn-hover-bg-color;
        color: $btn-color;
    }
}

.sg-btn--select {
    position: absolute;
    top: 0;
    right: 0;
}

.sg-btn--top {
    position: fixed;
    right: $base-spacing;
    bottom: $base-spacing;
    opacity: .3;

    &:hover {
        opacity: 1;
    }
}