// SECTIONS
.sg-section-group {
    margin-bottom: $base-spacing*2;
}

.sg-section {
    margin-bottom: $base-spacing*2;
}

.sg-sub-section {
    margin-top: $base-spacing;
}

.sg-section-docs {
    font-size: 14px;
}

.sg-section-example {
}

.sg-section-source {
    position: relative;

    pre {
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        max-height: 500px;
    }

    code {
        padding: 0;
        border: none;
        background-color: transparent;
    }
}